__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.venv/
ENV/
env.bak/

*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
/staticfiles/
/media/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

.ipynb_checkpoints

.python-version

.env
.env.bak
.env.local
.env.development.local
.env.production.local
.env.test.local